@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

body,
html {
	font-family: 'Lexend', sans-serif;
	background-color: #0071bd;
	margin: 0;
	padding: 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.nav-bar {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.lista-menu {
	background-color: #0071bd;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 30px;
	width: 100%;
	height: 3rem;
	color: white;
	position: absolute;
	top: -20px;
	z-index: 2;
}

.itens-menu {
	position: relative;
	margin-top: 15px;
	margin-left: 5rem;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

#inicio {
	height: 100%;
	width: 100%;
}

#wild-rift-logo {
	width: 27rem;
	position: absolute;
	left: 20%;
	top: 15%;
}

#garen-logo {
	width: 30vw;
	height: auto;
	position: absolute;
	left: 60%;
}

.entrada {
	display: flex;
	flex-direction: row;
	position: relative;
	top: 60%;
	left: 15%;
	width: 100rem;
	height: 20rem;
}

#texto-entrada {
	font-size: 40pt;
	color: white;
	width: 20rem;
}

#img-link {
	width: 100px;
	height: 100px;
	position: relative;
	top: 25%;
}

#arrow {
	width: 100px;
	height: 100px;
}

/* página personagens */
#personagens {
	background-color: white;
	width: 100%;
	height: 100%;
}

.topo {
	display: flex;
	flex-direction: row;
}

.topo-esquerda {
	display: flex;
	flex-direction: column;
}

.titulo-pagina {
	position: relative;
	top: 2rem;
	margin-left: 2rem;
	color: #0071bd;
	font-size: 25pt;
}

.subtitulo {
	margin-left: 2rem;
	margin-top: 1rem;
	width: 18rem;
	font-size: 10pt;
	text-align: justify;
	color: rgb(139, 139, 139);
}

.topo-direita {
	position: relative;
	top: 4rem;
	left: 69%;
}

#pesquisa {
	width: 15rem;
	padding: 12px;
	border: 1px solid rgb(0, 136, 255);
	border-radius: 10px;
	font-family: 'Lexend', sans-serif;
}

#pesquisa:focus {
	outline: none;
}

#icone-busca {
	position: relative;
	top: 3%;
	left: -12%;
	width: 1rem;
}

.meio {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	margin-left: 2rem;
	margin-top: 2rem;
}

.div-imagem {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 13rem;
	height: 20rem;
	align-items: center;
	margin-bottom: -75px;
}

.div-imagem:hover img {
	filter: brightness(30%);
	transition: all 1s ease;
}

.div-imagem:hover .champ {
	opacity: 1;
	transition: all 1s ease;
}

.img-champ {
	width: 13rem;
	height: 20rem;
}

.champ {
	position: relative;
	top: -60%;
	text-align: center;
	color: white;
	opacity: 0;
	font-size: 11pt;
	padding: 5px;
}

/* página contato */
#contato {
	height: 100%;
	width: 100%;
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(./imagens/wallpaper.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.container-contato {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 25%;
}

.titulo-contato {
	color: white;
	font-size: 40pt;
}

#mensagem {
	margin-top: 10px;
	height: 10rem;
}

.input-contato {
	width: 30rem;
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid white;
	color: white;
	padding: 10px;
	font-family: 'Lexend', sans-serif;
}

.input-contato::placeholder {
	color: white;
}

.input-contato:focus {
	outline: none;
}

#botao-contato {
	width: 30rem;
	padding: 10px;
	margin-top: 30px;
	background-color: #0071bd;
	border: none;
	color: white;
	font-family: 'Lexend', sans-serif;
}

/* ajuste de tela */
@media (max-width: 1336px) {
	#garen-logo {
		width: 25vw;
		height: auto;
		position: absolute;
		left: 60%;
		top: 10%;
	}
	.topo-direita {
		position: relative;
		top: 4rem;
		left: 50%;
	}
	.meio {
		margin-top: 1rem;
	}
	.div-imagem {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 10rem;
		height: 15rem;
		align-items: center;
		margin-bottom: -50px;
	}
	.img-champ {
		width: 10rem;
	}
	.champ {
		position: relative;
		top: -85%;
		text-align: center;
		color: white;
		opacity: 0;
		font-size: 11pt;
		padding: 5px;
	}
}
